<form>
  <h2>Book your next trip</h2>
  <div>
    <label for="start-date">Start date</label>
    <input id="start-date" name="start-date" type="date" />
    <label for="duration">Duration of stay</label>
    <input id="duration" name="duration" type="number" min="1" />
    <label for="guests">Number of guests</label>
    <input id="guests" name="guests" type="number" min="1" />
    <label for="destination">Destination</label>
    <select id="destination" name="destination">
      <option>Where are you going?</option>
    </select>
  </div>
</form>